#contact {
    display: flex;
    width: 100%;
    height: 100vh;
    background: url(../img/contact/contact_background.png) top center;
    background-size: cover;
  }

.content {
    display: flex;
    flex-direction: column;
    width: 90vw;
    margin-left: 5vw;
    justify-content: center;
    border-bottom: 3px solid #57565a;
    margin-bottom: 20px;
    margin-top: 3vh;
 }




.contact_text {
    font-family: 'europa_bold';
    color: white;
    font-size: 48px;
    font-weight: bold;
    position: relative;
}

.underline {
    background-image: linear-gradient(90deg, rgba(253,211,0,1) 0%,  rgba(239,3,145,1) 33%, rgba(239,3,145,1) 66%, rgba(7,249,249,1) 100%);
    background-repeat: no-repeat;
    background-size: 100% 0.2em;
    background-position: 0 88%;
    transition: background-size 200ms ease-in;
    width: fit-content;
}

.contact-txt {
    height: fit-content;
}

@media (max-width:1200px) {
    .content {
        margin-top: 50px;
     }
}

@media (max-width:1024px) {
    .content {
        margin-top: 25px;
    }
}

@media (max-width: 414px) {
    .contact_text {
        font-size: 40px;
    }
}