#hero {
    overflow: hidden;
}
a {
    color: white;
    font-family: 'europa_bold';
    text-decoration: underline;
}
a:hover {
    color: white;
}
a:active {
    color: white;
}
a:focus {
    color: white;
}
.skills {
    justify-content: center;
    width: 100%;
    height: 28vh;
    font-family: 'europa_bold' !important;
    font-size: 24px;
    padding: 0;
    text-align: center;
    border-right: 2px solid #57565a;
    margin-bottom: 40px;
}
.skills p {
    margin-bottom: 50px;
}

.skills:last-child {
    margin-top: -35px;
    border-width: 0;
}

.left_div {
    margin-bottom: 30px;
}

.center {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

.flex-1 {
    display: flex;
    flex:1;
}
.flex-2 {
    display: flex;
    flex:2;
}
.developers {
    width: 130px;
}

.btn_custom{
    height: 40px;
    width: 130px;
    margin:0 auto 10px;
    color: white;
    border: none !important;
    border-radius: 0 !important;
    display: block;
}

.divider-row {
    border-bottom: 2px solid #57565a;
    width: 200px;
    margin: 35px auto;
    display: none;
}
@media (max-width: 1190px) {
    .col-xl-3>p {
        line-height: 25px;
    }
    .galleon {
        min-height: 1366px !important;
        padding: 100px 5vw 100px 5vw;
    }
    .skills {
        margin-top: 100px;
    } 
    .skills:last-child {
        margin-top:65px;
    }
    #hero-before:before {
        content: "";
        background: #2d2c31;
        
    }
    
    #hero:before {  
        content: "";
        background: #2d2c31;
       
    }
}

@media (max-width:992px) {
    .skills:nth-child(3) {
        border-width: 0;
    }   
}

@media (max-width:576px) {
    .skills {
        border-width: 0 !important;
    
    }   
    .divider-row {
        display: block !important;
    }
    .divider-row:nth-child(6){
        display: none !important;
    }
    .skills {
        margin-top:20px;
        border-width: 0;
    }
    .skills:last-child {
        margin-top:10px;
        margin-bottom: 130px !important;
        border-width: 0;
    }
}
