/* -----------------------------------------
# Galleon general
------------------------------------------*/
body {
    font-family: "Avenir", sans-serif !important;
}
.container-fluid {
    padding: 0px;
}

.toggle-menu-bottom-top {
    margin-top: 7px !important;
}

.divider {
    position: absolute;
    height: 3px;
    width: 90%;
    background-color: #57565a;
    bottom: 60px;
    margin-left: 5vw;
}

#title {
    /* background-image: linear-gradient(90deg, rgba(253,211,0,1) 0%, rgba(239,3,145,1) 33%, rgba(239,3,145,1) 66%, rgba(7,249,249,1) 100%); */
    background-image: linear-gradient(32.73deg, #FDD400 6.99%, #F00491 93.01%);
    background-repeat: no-repeat;
    background-size: 100% 0.2em;
    background-position: 0 100%;
    transition: background-size 200ms ease-in;
}

.title {
    margin: 0 0 45px 0 !important;
    width: fit-content;
    width: -moz-fit-content;
    font-size: 50px;
    color: white;
    position: relative;
}

.sub-title {
    font-size: 25px;
    font-weight: 400;
    padding: 1.2rem 0 0 0;
}

.galleon {
    width: 90%;
    margin-left: 5%;
    position: relative;
    padding: 200px 0 55px 0;
    min-height: calc(100vh - 60px);
}
.font-size-sm {
    font-size: 24px;
}
.font-md {
    font-size: 24px;
    font-weight: 500;
}
.font-size-lg {
    font-size: 32px;
}
.font-xlg {
    font-size: 40px;
    font-weight: 800;
}
.text-underline {
    text-decoration: underline;
}


/* --------------------------------------------
# @media font section
-------------------------------------------- */
@media (max-width:501px) {
    .font-size-sm {
        font-size: 16px;
    }
    .font-md {
        font-size: 20px;
        font-weight: 500;
    }
    .font-size-lg {
        font-size: 26px;
    }
    .font-xlg {
        font-size: 28px;
        font-weight: 800;
    }
}

/* --------------------------------------------
# General section
-------------------------------------------- */

.download,
.mobile-download,
.tutorial,
.support {
    width: 90%;
    margin-left: 5%;
    position: relative;
    padding: 100px 0 55px 0;
    min-height: calc(100vh - 60px);
}

/* --------------------------------------------
# Galleon section
-------------------------------------------- */

.row .h-100 {
    justify-content: space-around;
    align-items: center;
}


#hero-before:before {
    content: "";
    background: #2d2c31;
    /* background: #222029; */
    background: url(../img/top_article.png) left top, url(../img/minner.png) right;
    background-repeat: no-repeat, no-repeat;
    background-size: 66vw 70vh, 450px 800px;
    position: absolute;
    bottom: -376px;
    top: 100px;
    left: 0;
    right: 0;
    opacity: 0.9;
}

#hero:before {
    /* background: url(../img/article_bottom.png) right bottom; */
    background-size: 78vw 101vh;
    bottom: -121px;
  }

.under {
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
  }
  
.over {
    width: 50%;
    position: absolute;
    top: 22%;
    left: 25%;
  }

/* --------------------------------------------
# Download section
-------------------------------------------- */

#download {
    background: #35343A;
}

.image-icon {
    width: 56px;
    height: 56px;
    border-radius: 8px;
}
.mobile-download {
    min-height: 25vh;
}
#mobile-download{
    position: relative;
    background: url(../img/galleon_mobile_background.png) no-repeat center center/cover;
    min-height: 25vh; 
    width: 100%;
}


/* --------------------------------------------
# Tutorias section
-------------------------------------------- */

.tutorial {
    background-color: #35343A;
}
iframe {
    width: 100%;
}

.first {
    padding-right: 2vw !important;
}

.third {
    padding-left: 2vw !important;
}

.second {
    padding-left: 1vw !important;
    padding-right: 1vw !important;
}
.video {
    width: 100%;
    height: 25vh;
    background-color: #57565a;
}

/* --------------------------------------------
# Support section
---------------------------------------------*/
.support {
    border-bottom: 3px solid #57565a;
}

.bottom-link-galleon>a>i,
.margin_custom_right>a>i {
  color: white;
  font-size: 25px;
}

.bottom-link-galleon>a,
.margin_custom_right>a {
  text-decoration: none !important;
}


@media (max-width: 1200px) {  
    /* .galleon {
        padding: 10px 5vw 100px 5vw;
    } */
    .first {
        padding-right: 1.5vw !important;
        padding-left: 1.5vw !important;
    }
    
    .third {
        padding-right: 1.5vw !important;
        padding-left: 1.5vw !important;
    }
    
    .second {
        padding-right: 1.5vw !important;
        padding-left: 1.5vw !important;
    }
}

@media (max-width: 1024px) {
    .support {
        padding: 100px 0 55px 0;
    }
    .tutorial {
        padding: 10px 5vw 100px 5vw;
    }
    .title {
        font-size: 28px;
    }
}

@media (max-width: 768px) {
    .galleon,
    .download,
    .mobile-download {
        padding: 100px 5vw 100px 5vw;
    }
}

@media (max-width: 414px) {
    iframe {
        height: 200px;
        width: 100%;

    }

    .galleon,
    .download,
    .mobile-download {
        height: fit-content;
        padding: 100px 5vw 100px 5vw;
    }

    .first {
        padding-right: 3vw !important;
        padding-left: 3vw !important;
    }
    
    .third {
        padding-right: 3vw !important;
        padding-left: 3vw !important;
    }
    
    .second {
        padding-right: 3vw !important;
        padding-left: 3vw !important;
    }

    #hero h1 {
        font-size: 35px !important;
        line-height: 39px;
    }
    .title {
        font-size: 35px !important;
        line-height: 39px;
    }

}