/* -----------------------------------------
# Tezo page
------------------------------------------*/
.divider {
    position: absolute;
    height: 3px;
    width: 90vw;
    background-color: #57565a;
    bottom: 60px;
    margin-left: 4.3vw;
}

.tezos {
    border-bottom: 3px solid #57565a;
    height: 100%;
    padding-top: 30px;
}

#hero-before:before {
    content: "";
    background: #2d2c31;
    background: url(../img/workers.png) right bottom,  url(../img/top_article.png) left bottom;
    background-repeat: no-repeat, no-repeat;
    background-size: 55vw 55vw,100vw 85vh;
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}

.content {
    padding: 20px 20px;
}

#title {
    position: relative;
}

#title {
    background-image: linear-gradient(90deg, rgba(253,211,0,1) 0%, rgba(239,3,145,1) 33%, rgba(239,3,145,1) 66%, rgba(7,249,249,1) 100%);
    background-repeat: no-repeat;
    background-size: 100% 0.2em;
    background-position: 0 100%;
    transition: background-size 200ms ease-in;
}

.title {
    width: fit-content;
    width: -moz-fit-content;
    font-size: 50px;
    color: white;
}

.about-container {
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.toggle-menu-bottom-top {
    margin-top: 7px !important;
}

.video-section {
    position: relative;
}

#playVideo {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    position: absolute;
    background:url(../img/play.png) no-repeat ;
    cursor:pointer;
    border:none;
    width:100px;
    height:100px;
}

@media (max-width: 1200px) {   
    #hero {
        width: 100%;
        height: fit-content;
        background-color: #2d2c31;
        background-size: cover;
        position: relative;
    }
    
    .about-container {
        height: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding-bottom: 100px;
        padding-top: 85px;
    }

    p {
        font-size: 25px;
    }
}

@media (max-width: 990px) {
    p {
        font-size: 20px;
    }    

    .about-container {
        height: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding-bottom: 100px;
        padding-top: 27px;
    }
}

@media (max-width: 414px) {
    iframe {
        width: 100%;
        height: 180px;
    }
    p {
        font-size: 15px;
    }  

    .banner-logo {
        width: 50vw;
    }

    h1 {
        font-size: 3vh;
    }

    .title {
        font-size: 3vh;
    }

    .parallel-three-dot {
        display: none;
    }

    .tezos {
        height: fit-content;
        padding-top: 50px;
    }

    #about .about-container p {
        line-height: 18px;
    }

    .hidden-part {
        display: none;
    }

    .email-title {
        font-size: 4vw;
    }

    .touch-txt {
        line-height: 0;
    }

    .toggle-menu-bottom-top {
        margin-top: 10px !important;
    }

    .about-container {
        height: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding-bottom: 100px;
        padding-top: 0px;
    }

    #hero h1 {
        font-size: 35px !important;
        line-height:39px;
    }
}