/* -----------------------------------------
# User tools page
------------------------------------------*/
.container-fluid {
    padding: 0px;
}

.divider {
    position: absolute;
    height: 3px;
    width: 90vw;
    background-color: #57565a;
    bottom: 60px;
    margin-left: 5vw;
    /* margin-left: 4.3vw; */
}

.usertool {
    height: 100%;
    padding: 100px 5vw 100px 5vw;
}
#hero {
    overflow: hidden;
}

#hero-before:before {
    content: "";
    background: #2d2c31;
    background: url(../img/top_article.png) right bottom, url(../img/minner.png) 20%;
    background-repeat: no-repeat, no-repeat;
    background-size: 66vw 70vh, 450px 800px;
    position: absolute;
    bottom: -76px;
    top: 0;
    left: 0;
    right: 0;
}

#hero:before {  
    content: "";
    background: #2d2c31;
    background: url(../img/article_bottom.png) right bottom;
    background-repeat: no-repeat;
    background-size: 78vw 101vh;
    position: absolute;
    opacity: 0.7;
    bottom: -121px;
    top: 0;
    left: 0;
    right: 0;
}

#title {
    background-image: linear-gradient(90deg, rgba(253,211,0,1) 0%, rgba(239,3,145,1) 33%, rgba(239,3,145,1) 66%, rgba(7,249,249,1) 100%);
    background-repeat: no-repeat;
    background-size: 100% 0.2em;
    background-position: 0 100%;
    transition: background-size 200ms ease-in;
}

.title {
    width: fit-content;
    width: -moz-fit-content;
    font-size: 50px;
    color: white;
    position: relative;
}

.toggle-menu-bottom-top {
    margin-top: 7px !important;
}

.row .title h4 {
    font-size: 25px;
}

.row .title {
    margin-bottom: 20px;
}

.row .content h4 {
    margin-top: 20px;    
    margin-bottom: 45px;   
    font-size: 15px;
    line-height: 1.5;
}

.center {
    padding-left: 5vw;
    padding-right: 5vw;
    border-left: 1px solid white;
    border-right: 1px solid white;
}

.right {
    padding-left: 5vw;
}

.left {
    padding-right: 5vw;
}

.row>.arronax {
    width: 100%;
    /* height: 13vw; */
    background-color: #57565a;
}

.banner-logo {
    height: 13vw;
}

.col-xl-4 {
    position: relative;
}

.row .link>a {
    color: white;
    text-decoration: underline;
}

.row .link {
    position: absolute;
    bottom:0;
    left: 2vw;
}

.right>.link {
    position: absolute;
    bottom:0;
    left: 6vw;
}

.first {    
    left: 0;
}

.first>a {
    color: white;
    text-decoration: underline;
}

#playVideo {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    position: absolute;
    background:url(../img/play.png) no-repeat ;
    cursor:pointer;
    border:none;
    width:100px;
    height:100px;
}


@media (max-width: 1200px) {   
    #hero {
        width: 100%;
        height: fit-content;
        background-color: #2d2c31;
        background-size: cover;
        position: relative;
    }

    p {
        font-size: 25px;
    }   
    
    .col-xl-4 {
        margin: 1vw;
        padding: 0;
    }

    .center {        
        border-left: none;
        border-right: none;
        border-top: 1px solid white;
        margin: 60px 1vw;
        padding: 60px 0;
    }
    
    .right {
        border-top: 1px solid white;
        padding-top: 60px;

    }

    iframe {
        height: 500px;
    }
}

@media (max-width: 1024px) {
    #hero h1 {
        font-size: 50px;
        line-height: 57px;
    }

    iframe {
        height: 400px;
    }

    .row .title>h4 {
        font-size: 30px !important;
    }

    .row .link>a, .first {
        font-size: 25px !important;
    }

    .row .link {
        position: absolute;
        bottom:0;
        left: 1.2vw;
    }

    .usertool {
        height: 100%;
        padding: 125px 5vw 100px 5vw;
    }

    .banner-logo {
        height: 400px;
    }

    #hero-before:before {
        content: "";
        background: #2d2c31;        
    }
    
    #hero:before {  
        content: "";
        background: #2d2c31;        
    }
}

@media (max-width: 990px) {
    .usertool {
        height: 100%;
        padding: 100px 6vw 100px 6vw;
    }

    #hero h1 {
        margin: 0 0 10px -7px;        
    }

    .row .link {
        position: absolute;
        bottom:0;
        left: 2vw;
    }

    .banner-logo {
        height: 200px;
    }

    .row .link>a, .first {
        font-size: 20px !important;
    }

    iframe {
        height: 400px;
    }


}

@media (max-width: 419px) {
    .usertool {
        height: 100%;
        padding: 100px 8vw 100px 8vw;
    }

    .banner-logo {
        height: 200px;
    }

    .row .link {
        position: absolute;
        bottom: 0;
        left: 4vw;
    }

    iframe {
        height: 250px;
    }

    .row .link>a, .first {
        font-size: 15px !important;
    }

    .title {
        font-size: 3vh;
    }

    #hero h1 {
        font-size: 35px ;
        line-height: 40px;
    }

    .hidden-part {
        display: none;
    }

    .email-title {
        font-size: 4vw;
    }

    .touch-txt {
        line-height: 0;
    }

    .toggle-menu-bottom-top {
        margin-top: 10px !important;
    }

    .row>.arronax {
        width: 100%;
        height: 25vh;
        background-color: #57565a;
    }

}